<div class="container main-container fadeIn animated">
  <div class="row">
    <h1 class="text-primary mb-4 text-center col-md-6">FireChat</h1>
    <div class="col-md-6 text-right">
      <button class="btn btn-outline-danger mt-2" type="button" style="width: 10rem; margin-right: 1rem" (click)="_service.logout()"
        [disabled]="!_service.usuario.uid">Salir</button>
    </div>
    <div class="col-md-6">
      <app-login></app-login>
    </div>
    <div class="col-md-6">
      <div class="chat-window">
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
